Source: carton
Section: admin
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8), libmodule-install-perl, quilt
Standards-Version: 3.9.3
Homepage: http://sipwise.com/

Package: carton
Architecture: all
Depends: ${misc:Depends}, cpanminus, libcpan-meta-perl, libcpan-meta-requirements-perl, libexception-class-perl, libmodule-cpanfile-perl
Description: Perl module dependency manager (aka Bundler for Perl)
 carton is a command line tool to track the Perl module
 dependencies for your Perl application. The required
 dependencies are managed through a file named cpanfile and
 tracked through the carton.lock file. It makes deployments
 easier and allows other developers of your application to have
 the exact same versions of the modules.
